@import "../../styles/variables.scss";

.login-page {
  background-color: $soft-bg;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    width: 450px;
    background-color: $main-bg;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

    .login-logo {
      text-align: center;

      h4 {
        font-weight: 600;
      }

      .sub-title {
        padding-top: 3px;
        padding-bottom: 10px;
      }
    }

    .submit-section {
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
    }
  }
}
