@import "../../styles/variables.scss";

.button-section {
  margin: 25px 0;

  .add-btn {
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    text-align: right;
    text-decoration: none;
  }
}

.course-items {
  display: flex;
  align-items: center;

  .course-img {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .course-name {
    padding-left: 20px;
  }
}

.actions {
  .edit-btn,
  .delete-btn {
    margin-right: 15px;
    padding: 4px;
    font-size: 30px;
  }
}

.ant-modal-wrap {
 background-color: rgba(255, 255, 255, 0.1);
}
