// BG
$main-bg: white;
$soft-bg: #f1f1f1;
$dark-bg: #222b3c;
$sidebar-bg: #178abb;

//TEXT
$sidebar-corlor: #96dbf9;
$sidebar-corlor-2: #009de0;;
$main-color: #2a3447;
$soft-color: #ffffff;

// BUTTON
$button-color-1: rgb(28, 149, 113);