.users {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

      
  }
}

.actions {
  .view-user,
  .edit-btn,
  .delete-btn {
    margin-right: 15px;
    padding: 4px;
    font-size: 30px;
  }
}